@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap');

.active{
  opacity: 1;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Itim', 'Segoe UI','Bai Jamjuree', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
.th-font2{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 17px;
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
  box-shadow: 0 1px 20px -8px #636463;
}
.modal.show .modal-dialog {
  transform: none;
  box-shadow: 0 1px 20px -8px #636463;
}
.modal {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(233,234,234,.85);
}
/*parts login*/
.feed-info-detail, .text {
  word-break: break-word;
  text-rendering: optimizeSpeed;
}
.text {
  display: inline-block;
}
.popup-title {
  margin-top: 20px;
  padding-bottom: 15px;
  color: #eea534;
  font-size: 30px;
  line-height: 46px;
  border-bottom: 1px solid #e9eaea;
}

.tabs {
  padding-top: 10px;
  color: #636463;
}
.content-date, .tabs {
  padding-bottom: 25px;
  text-align: center;
}
.tabs-text.login {
  background-color: #fff;
}
.tabs-text.collection, .tabs-text.first-no-border, .tabs-text.login, .tabs-text.no-border {
  border-left-style: none;
}
.tabs-text.login, .tabs-text.no-border {
  border-left-width: 0;
}
.bb, .bb-noshadow, .nav-bb, .tabs-text {
  cursor: pointer;
}
.bb, .bb-noshadow, .feed-card, .nav-bb, .tabs-text {
  outline: 0;
  word-break: break-word;
  text-rendering: optimizeSpeed;
}

.tabs-text {
  padding-right: 15px;
  padding-left: 15px;
  border-left: 1px solid #636463;
  background-color: #f5f5f5;
  font-size: 20px;
  line-height: 15px;
}
.feed-profile-img, .icon-follow, .tabs-text, .tool-create-title {
  display: inline-block;
}
.content-share-count, .profile-user-name, .tabs-text {
  font-family: 'Mn paethai med v3',sans-serif;
}
.tabs-line.login {
  background-color: #e9eaea;
}
.tabs-line {
  height: 1px;
  margin-top: -10px;
  background-color: #dbdbdb;
}
.register-form.center {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}
.register-form {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}
.popup {
  position: fixed!important;
  overflow-y: scroll;
  background-color: rgba(233,234,234,.85);
  z-index: 11;
}
@media (max-width: 767px) {
  .popup-content {
    margin-top: 30px;
  }
  .popup-bg {
    background-color: rgba(234,235,235,.95);
  }
  .popup-content.register, .popup-content.tips, .register-form {
    width: 100%;
  }
  .card-popup {
    border-style: none;
  }
  .popup-title {
    padding-top: 15px;
  }
  .button {
    font-size: 20px;
  }
}
#loginModal {
  z-index: 999;
}
.fadeIn {
  animation-name: fadeIn;
}
.animated {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform: translate3d(0,0,0);
}
.tabs-text {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}

@media (max-width: 479px){
  .popup-title {
    line-height: 40px;
  }
  .button {
    margin: 5px;
  }
}

.card-popup {
  max-width: 800px;
  background-color: #fff;
  color: #636463;
  text-align: center;
}
.card-popup.login {
  max-width: 500px;
}
.w-form {
  margin: 0 0 15px;
}
.w-input {
  height: auto;
}
.input {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #DCDCDC;
  background-color: #f5f5f5;
  font-size: 22px;
}
.w-input, .w-select {
  display: block;
  width: 100%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #DCDCDC;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;
}
button, hr, input, select {
  overflow: visible;
}
.popup-footer {
  margin-top: 20px;
  padding: 25px;
  border-top: 1px solid #e9eaea;
  text-align: center;
  background-color: #fff;
}
.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px 40px;
  border: 1px solid #e9eaea;
  border-radius: 5px;
  color: #b4b5b4;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.button.green {
  border-color: #2eb494;
  color: #2eb494;
}
.green, .report-list.select, .search-result, .terms-title, .upload-img-content.green {
  color: #2eb494;
}
button, select {
  text-transform: none;
}
button, input, select, textarea {
  font: inherit;
  margin: 0;
}
a, button {
  background-color: transparent;
}
button, hr, input, select {
  overflow: visible;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
.facebook-login-button {
  padding: 8px 25px;
  margin-bottom: 20px;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  background: #4267b2;
  border-color: transparent;
}
.facebook-login-button-icon {
  display: inline-block;
  margin-right: 20px;
  margin-top: -4px;
}
.facebook-login, .facebook-login-button {
  border-radius: 4px;
  display: inline-block;
}
/*parts login*/
/*StaffPickBorder*/
@media (max-width: 991px) {
  .feed-badge-small.staffpick {
    margin-right: 15px;
  }
}
  .feed-badge-small.staffpick {
    background-position: 0 50%;
  }
  @media (max-width: 767px) {
    .feed-badge-small {
      margin-top: 10px;
    }
    .feed-badge-small.staffpick {
      margin-top: -20px;
    }
  }
    .feed-badge-small, .feed-collection-head-img, .icon-create {
      background-size: cover;
      background-repeat: no-repeat;
    }
.feed-card.highlight {
  padding: 40px 40px 0;

}
.feed-card.highlight, .feed-card.info-story-for-you {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.img-bg {
  background-position:center;
  background-size:cover;
}
.action-create, .bb, .bb-noshadow, .dropdown, .nav, .nav *, button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
.bb, .bb-noshadow, .nav-bb, .tabs-text {
  cursor: pointer;
}
.bb, .bb-noshadow, .feed-card, .nav-bb, .tabs-text {
  outline: 0;
  word-break: break-word;
  text-rendering: optimizeSpeed;
}
.banner, .dropdown, .dropdown.create-select-book, .feed-card, .feed-cover.bg, .philosophy-cover, .section-content {
  transform: translate3d(0,0,0);
  transform: translateZ(0);
}
.feed-card {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 1px 20px -8px #636463;
}
.feed-highlight-badge-box {
  position: relative;
  height: 150px;
  margin-bottom: 30px;
  margin-left: -45px;
}
.feed-card.inheightlight {
  margin-bottom: 0;
  background-color: rgba(255,255,255,.98);
}
.fadeIn {
  animation-name: fadeIn;
}
.animated {
  animation-duration: .3s;
  animation-fill-mode: both;
  transform: translate3d(0,0,0);
}
.w-clearfix:after, .w-clearfix:before {
  content: " ";
  display: table;
}
.img-feed-highlight {
  display: none;
}
img {
  border-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
img[AttributesStyle] {
  width: 100%;
}
.feed-info.nobg, .feed-info.nobg.highlight {
  background-image: none;
}
.feed-info {
  width: 80%;
  padding: 30px 35px 0;
  float: left;
  border-right: 1px solid #e9eaea;
}
.feed-profile {
  width: 20%;
  margin-top: 35px;
  float: left;
  text-align: center;
}
.w-clearfix:after, .w-clearfix:before {
  content: " ";
  display: table;
}
.w-checkbox:after, .w-clearfix:after, .w-container:after, .w-embed:after, .w-nav:after, .w-radio:after, .w-row:after, .w-slider, .w-tabs:after {
  clear: both;
}
.feed-profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #e9eaea;
}
.feed-profile-img, .icon-follow, .tabs-text, .tool-create-title {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #8a8b8a!important;
}
.feed-info-username {
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  color: #2eb494;
  font-size: 18px;
  line-height: 27px;
}
.feed-info-role {
  color: #8a8b8a;
  line-height: 20px;
}
.feed-info-title {
  color: #000;
}
#searchInput, .content-detail-text, .feed-info-title {
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
}
.feed-info-title {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
#createBookTool, #searchInput, .feed-info-detail, svg:not(:root) {
  overflow: hidden;
}
.feed-info-detail {
  min-height: 70px;
  color: dimgrey;
  font-size: 16px;
  line-height: 32px;
}
.feed-info-point {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #8a8b8a;
  font-size: 14px;
}
a {
  color: #00e;
}
.text.orange {
  color: #eea534;
}
@media (max-width: 991px){
  .img-feed-highlight {
    display: block;
  }
  .feed-profile.hightlight {
    width: 100%;
    margin-top: 0;
    padding: 10px 10px 10px 25px;
    border-top: 1px solid #e9eaea;
  }
  .feed-profile {
    width: 25%;
  }
  .feed-info.nobg.highlight {
    width: 100%;
    border-right: 1px none #000;
  }
  .feed-info {
    width: 100%;
  }
  .feed-profile-img.highlight {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
  }
  .feed-info-username.highlight {
    display: block;
    margin-top: 0;
    float: left;
    line-height: 40px;
  }
  .feed-info-role.highlight {
    display: block;
    margin-left: 10px;
    float: left;
    line-height: 40px;
  }
  .feed-card.inheightlight {
    margin-top: 0;
    border-style: none;
  }
}
.w-clearfix:after, .w-clearfix:before {
  content: " ";
  display: table;
}
.w-clearfix:after, .w-clearfix:before {
  content: " ";
  display: table;
}
@media (max-width: 767px) {
  .feed-card.inheightlight {
    background-color: #fff;
  }
  .feed-info, .feed-info.nobg.highlight {
    border-right-style: none;
  }
  .feed-info {
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.feed-info.nobg, .feed-info.nobg.highlight {
  background-image: none;
}
#feed {
  min-height: 500px;
  width: 100%;
}
#feed, .info-story-for-you, audio, canvas, progress, video {
  display: inline-block;
}
.feed-badge-small.staffpick {
  background-position: 0 50%;
}
.feed-badge-small {
  width: 26px;
  height: 40px;
  margin-top: -30px;
  float: right;
  background-image: url(https://storylog.co/assets/33oLPv8.svg);
  background-position: 100% 50%;
}
.feed-badge-small, .feed-collection-head-img, .icon-create {
  background-size: cover;
  background-repeat: no-repeat;
}
/*StaffPickBorder*/
/*ReaListBorder*/
.style-img{
  min-height:300px;
  background-position:center;
  background-size:cover;
}
.profile-user-image_user.book.readList {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  background-image: url(https://storylog.co/assets/ItQ-lZS.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.feed-info.nobg.highlight.full.book {
  padding: 0 20px 20px;
  text-align: center;
}
.img-feed-highlight.book.book-feed {
  opacity: 0;
}
.img-feed-highlight.book {
  display: block;
  opacity: 1;
}
.img-feed-highlight {
  display: none;
}
.book-bg {
  margin-top: -180px;
  padding-right: 40px;
  padding-left: 40px;
}
.feed-info-title.collection {
  display: inline-block;
  max-width: 100%;
}
.feed-info-title.collection {
  display: block;
  margin-top: 15px;
  padding-top: 10px;
  color: #2eb494;
  line-height: 40px;
}
.feed-info-title {
  color: #000;
}
#searchInput, .content-detail-text, .feed-info-title {
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
}
.feed-info-title {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
}
.feed-info-detail.book.read-list {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.feed-info-detail.book {
  min-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 32px;
}
.feed-info-detail.book {
  display: inline-block;
  max-width: 100%;
  min-height: auto;
  min-width: auto;
  margin-top: -10px;
  margin-bottom: 30px;
}
#createBookTool, #searchInput, .feed-info-detail, svg:not(:root) {
  overflow: hidden;
}
.feed-info-detail {
  min-height: 70px;
  color: #636463;
  font-size: 16px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .feed-info-detail.book.read-list {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 479px) {
  .profile-user-image_user.book {
    width: 70px;
    height: 70px;
    margin-top: -40px;
  }
}
@media (max-width: 767px) {
  .profile-user-image_user.book {
    width: 80px;
    height: 80px;
    margin-top: -40px;
  }
  .feed-info-rl {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
    padding: 0px 5px 0;
  }
}
.feed-info-rl {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 100px 0;
}
.feed-type.book {
  height: 30px;
}
.feed-card.inheightlight.rl {
  margin-bottom: 0;
  background-color: white;
}
/*ReaListBorder*/


/*parts home --Body popular*/
.profile-category-tabs.half {
  width: 50%;
}
.profile-category-tabs.action {
  background-color: #fff;
  color: #2eb494;
}
.profile-category-tabs {
  width: 33.3333%;
  height: 50px;
  float: left;
  border: 1px solid #e9eaea;
  background-color: #f5f5f5;
  color: #636463;
  font-size: 13.5px;
  line-height: 50px;
  text-align: center;
  font-weight: lighter;
}
.profile-category.tabfeed {
  margin-bottom: 20px;
  border-right: 1px solid #e9eaea;
  border-bottom: 1px solid #e9eaea;
  border-left: 1px solid #e9eaea;
}

.profile-category {
  width: 100%;
  float: left;
}
.w-container{
  margin-left:auto;
  margin-right:auto;
  max-width: 940px;
}
.feed-card.tool-create, quote {
  width: 100%;
}
.feed-card.tool-create {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.tool-create-title{
  margin-right:auto;
  margin-left:auto;
  color:#eea534;
  font-size:21px;
  text-align:center;
  font-weight: bold;
}
.icon-create{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: -6px;
  background-image: url(https://storylog.co/assets/1LywG92.svg);
}
.feed-collection-head-title, .icon-create {
  display: inline-block;
}
@media screen and (max-width: 991px){
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 767px){
  .feed-card{
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 991px){
  .feed-card, .feed-tool-create{
    margin-bottom: 20px;
  }
}

.feed-cover.bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url(https://storylog.co/assets/1UHhBMl.jpg);
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px){
  .feed-cover {
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: scroll;
  }
}
.feed-cover {
  position: relative;
  overflow: hidden;
  height: 390px;
  background-color: #e7d9c5;
}
.feed-card {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 1px 20px -8px #636463;
}
@media (max-width: 479px){
  .feed, .profile-detail-content {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 767px){
  .feed, .feed-card.collection-add-story {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.piv{
  background-position:center;
  background-size:cover;
}
.section-content {
  position: relative;
  background-color: #f5f5f5;
}
.feed-card.highlight, .feed-card.info-story-for-you {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bt1 {
  border-color: transparent;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

#feed {
  min-height: 500px;
  width: 100%;
}
#feed, .info-story-for-you, audio, canvas, progress, video {
  display: inline-block;
}

/*Body popular*/
/*image feed highlight*/
@media (max-width: 991px) {
  .img-feed-highlight.book.book-feed {
    opacity: 1;
  }
  .img-feed-highlight {
    display: block;
  }
}
.img-feed-highlight.book.book-feed {
  opacity: 0;
}
@media (max-width: 991px) {
  .img-feed-highlight.book {
    display: block;
    width: 100%;
    max-height: 250px;
  }
  .feed-card.highlight {
    min-height: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .feed-info-rl {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
    padding: 0px 30px 0;
  }
}
.img-feed-highlight.book {
  display: block;
  opacity: 1;
}
@media (max-width: 767px) {
  .img-feed-highlight {
    display: block;
  }
  .img-feed-highlight {
    display: block;
  }
}
@media (max-width: 991px) {
  .img-feed-highlight {
    display: block;
  }
  .img-feed-highlight.book.book-feed {
    opacity: 1;
  }
  .img-feed-highlight.book {
    display: block;
    width: 100%;
    max-height: 250px;
  }
  .img-feed-highlight.book {
    display: block;
    width: 100%;
    max-height: 250px;
  }
}
.img-feed-highlight {
  display: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.img-feed-highlight.book.book-feed {
  opacity: 0;
}
#feed, .info-story-for-you, audio, canvas, progress, video {
  display: inline-block;
}
.feed-type {
  width: 100%;
  height: 35px;
  margin-bottom: 0;
  float: left;
}
@media (max-width: 991px) {
  .profile-user-image_user.book {
    width: 100px;
  }
}
  .profile-user-image_user.book {
    width: 100px;
    height: 100px;
    margin-top: -60px;
  }

  .profile-user-image_user {
    display: block;
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #8a8b8a;
  }
@media (max-width: 479px) {
  .feed-info-detail.book.read-list {
    margin-top: 10px;
  }
  .feed-info-detail.book {
    max-width: 85%;
  }
}
  @media (max-width: 767px) {
    .feed-info-detail.book.read-list {
      margin-top: 20px;
    }
  }

/*parts home --Body popular*/
/*BorderLatest&POP*/
.position-img{
  background-position: center center;
  background-size: cover;
}
@media (max-width: 767px) {
  .feed-profile {
    width: 100%;
    margin-top: 0;
    padding: 10px 10px 10px 25px;
    border-top: 1px solid #e9eaea;
  }
}
  @media (max-width: 991px){
  constructed stylesheet
    .feed-profile {
      width: 25%;
    }
  }
    .feed-profile {
      width: 20%;
      margin-top: 35px;
      float: left;
      text-align: center;
    }
@media (max-width: 767px) {
  .feed-info-username {
    margin-top: 0;
    margin-left: 10px;
  }
}
  @media (max-width: 767px) {
    .feed-info-role, .feed-info-username, .feed-profile-img {
      line-height: 40px;
      display: inline-block;
      float: left;
    }
  }
@media (max-width: 479px) {
  .feed-info-role {
    font-size: 18px;
    line-height: 18px;
  }
  .feed-info-role.highlight {
    display: block;
    margin-left: 65px;
    float: left;
    line-height: 40px;
  }
  .feed-info-role, .feed-info-username {
    float: none;
    text-align: left;
    display: block;
  }
}
    @media (max-width: 767px) {
      .feed-info-role {
        margin-left: 15px;
      }
      .feed-info-role, .feed-info-username, .feed-profile-img {
        line-height: 40px;
        display: inline-block;
        float: left;
      }
    }
.bg-linear{
  background-image:linear-gradient(to right, white, rgba(255, 255, 255, 0.9)), url(https://s3-ap-southeast-1.amazonaws.com/media.storylog/storycontent/5f9851936783b3f141f53d41/16038179077307315125.jpg);
  background-position:0% 0%, center;
  background-size:cover;
  background-repeat:no-repeat;
}
/*BorderLatest&POP*/
/*Catestory*/
.banner.short {
  background-color: #dee1f2;
}
.banner {
  height: 340px;
}
.banner, .tips-line {
  background-color: #e9eaea;
}
.banner-box {
  position: relative;
  overflow: hidden;
  height: 340px;
  padding-top: 90px;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
  .w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
  .w-checkbox:after, .w-checkbox:before, .w-container:after, .w-container:before, .w-radio:after, .w-radio:before, .w-row:after, .w-row:before {
    content: " ";
    display: table;
  }
.banner-detail.short {
  color: rgba(44,61,114,.5);
}

@media (max-width: 991px) {
.banner-icon {
  margin-top: 30px;
}

}
.banner-icon {
  width: 230px;
  margin-top: 70px;
  margin-bottom: 10px;
  float: left;
}
.banner-icon {
  width: 230px;
  margin-top: 70px;
  margin-bottom: 10px;
  float: left;
}
.banner-detail.short {
  color: rgba(44,61,114,.5);
}
.banner-detail {
  width: 50%;
  float: left;
  color: #dd5416;
  font-size: 24px;
  line-height: 32px;
}
.img-banner {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  float: right;
}
.w-checkbox:after, .w-checkbox:before, .w-container:after, .w-container:before, .w-radio:after, .w-radio:before, .w-row:after, .w-row:before {
  content: " ";
  display: table;
}
.w-checkbox:after, .w-clearfix:after, .w-container:after, .w-embed:after, .w-nav:after, .w-radio:after, .w-row:after, .w-slider, .w-tabs:after {
  clear: both;
}
banner-box {
  position: relative;
  overflow: hidden;
  height: 340px;
  padding-top: 90px;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
/*Catestory*/

/*Bar*/
.nav {
  transition: all .3s;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
}
.nav, .popup, .popup-bg {
  z-index: 9;
  left: 0;
}
.bg-nav {
  padding-bottom: 7px;
}
.bg-nav {
  background-color: #2eb494;
}
.book-detail, .nav-con {
  position: relative;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.nav-space {
  height: 30px;
}
a {
  text-decoration: none;
  color: #8a8b8a!important;
}
a, button {
  background-color: transparent;
}
a {
  color: #00e;
}
.nav-search {
  transition: all .2s;
}
.nav-search {
  position: relative;
  width: 55%;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 15px;
  float: left;
  border-radius: 5px;
  background-color: #298f72;
  opacity: .5;
  transition: all .5s ease;
  color: #fff;
  line-height: 35px;
  text-align: center;
}

.logo {
  width: 155px;
  height: 30px;
  margin-top: 10px;
  float: left;
  background-image: url(https://storylog.co/assets/2G7zO-D.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-bb.home {
  background-image: url(https://storylog.co/assets/1zJuGfQ.svg);
}
.content-profile-img, .content-profile-img.circle, .nav-bb.explore, .nav-bb.home, .nav-bb.mobile, .nav-bb.notification, .nav-bb.philo, .nav-bb.profile, .nav-search-bb {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.nav-bb.explore {
  background-image: url(https://storylog.co/assets/1spRBss.svg);
}
.nav-bb.philo {
  background-image: url(https://storylog.co/assets/3TW1L0H.svg);
  background-size: auto 28px;
}
.nav-bb.profile {
  background-image: url(https://storylog.co/assets/l2JViXV.svg);
}
@media (max-width: 991px) {
  .img-banner {
    width: 50%;
  }
  .banner-icon {
    margin-top: 30px;
  }
  .nav-search {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .img-banner {
    width: 45%;
    float: right;
  }
  .img-banner, .social-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .img-banner {
    width: 50%;
  }
  .banner-detail {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .banner-detail, .setting-box {
    padding-right: 20px;
    padding-left: 20px;
  }

}
@media (max-width: 479px) {

  .banner-detail {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
  }
  .banner-detail, .thangyou-box {
    padding-right: 20px;
    padding-left: 20px;
  }
  .img-banner {
    position: absolute;
    display: inline-block;
    width: 80%;
    max-height: 200px;
    margin-right: 10%;
    margin-left: 10%;
    float: none;
  }
  .banner-icon {
    display: block;
    width: 200px;
    margin: 5px auto;
  }
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}
.nav-search-bb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  float: left;
  background-image: url(https://storylog.co/assets/3dCbNsc.svg);
}
.nav-bb.explore.active, .nav-bb.home.active {
  opacity: 1;
}
.nav-bb.profile {
  background-image: url(https://storylog.co/assets/l2JViXV.svg);
}
.nav-bb.profile {
  background-image: url(https://storylog.co/assets/l2JViXV.svg);
}
.fas, .glyphicon{
  width: 50px;
  height: 50px;
}
.btn-group{
  padding-left: 10px;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
.content-profile-img, .content-profile-img.circle, .nav-bb.explore, .nav-bb.home, .nav-bb.mobile, .nav-bb.notification, .nav-bb.philo, .nav-bb.profile, .nav-search-bb {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.nav-bb {
  position: relative;
  width: 50px;
  height: 50px;
  float: right;
  opacity: .72;
}
@media (max-width: 767px) {
  #searchBox{
    display: none;
  }
  .nav-space{
    display: none;
  }
  #icon-menu{
    display: none;
  }
  .content-comment-username, .content-profile-box, .input.setting, .nav, .tabs.search {
    text-align: center;
  }
  .content-footer, .nav {
    height: 50px;
  }
  .content-footer, .nav {
    height: 50px;
  }
  .nav-bb.mobile {
    left: 0;
    background-size: 31px;
    opacity: 1;
  }
  .nav-bb.mobile, .nav-bb.profile {
    position: absolute;
    top: 0;
    display: block;
  }
  .dropdown.dropdown-nav.nav-mobile.on {
    margin-left: 0;
  }
  .dropdown.dropdown-nav.nav-mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    margin-top: 45px;
    margin-left: -101%;
  }
  .dropdown.dropdown-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 45px;
    border-radius: 0;
  }
  .dropdown.dropdown-nav {
    margin-top: 95px;
  }
  .logo {
    display: inline-block;
    margin-left: 0;
    float: none;
  }
  .nav-bb.profile {
    right: 0;
  }
  .content-comment-username, .content-profile-box, .input.setting, .nav, .tabs.search {
    text-align: center;
  }

}
/*Bar*/